
<div class="main_show_div" id="photos_index" count="<%= @count %>" last_id="<%= @last_id %>" >
  <div class="main_photo_show">
    <img id="photo_show" />
  </div>
  <div class="main_photo_list">
    <% @photos.each do |photo| %>
    <div>
      <%= image_tag photo.image.url(:list), product: photo.image.url %>
    </div>
    <% end %>
  </div>
</div>
<div class="main_photo_button">
  <%= link_to "管理", manage_photos_path, id: "main_manage_link" %>
</div>

<script type="text/javascript">
    $(document).ready(function($) {
      var $images = $(".main_photo_list").children();
      if($images.length > 0) {
        $images.each(function(index, el) {
          $(el).click(function(event) {
            $(".main_photo_list div").removeClass("selected");
            $(el).addClass("selected");
            $("#photo_show").attr("src", $(this).children().eq(0).attr("product"));
          });
          if(index == 0) {
            $(el).click();
          }
        }); 
      }
    });
</script>



