// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo_action {

  width: 650px;
  margin: 0 auto;
  padding: 10px 10px;
  clear: both;

  a, a:focus, a:hover, a:visited {
    padding: 10px 50px;
    margin-left: 20px;
    background: #f28505;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .photo_delete {
    margin-left: 40px;
    padding: 5px 100px;
    background: #f25e05;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
}

.photo_contents {
  margin: 0px 40px;
  padding: 10px;
  background: rgba(198,198,198,0.6);
  background: transparent\9;
  zoom:1\8; /* required for the filters */
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); /* IE5.5-7 */
}

.photo_display {
  height: 500px;
  overflow: auto;
}

.photo {
  float: left;
  padding: 15px 3px;
  position:relative
}

.photo_image {
  // background: white;
  text-align: center;
  line-height: 160px;
  border: 2px solid white;
  width: 160px;
  height: 160px;
  padding: 2px;
}

.photo_checkbox {
  position:absolute; right:5px; bottom:15px;
}

.photo_main {
	clear: both;
	width: 320px;
	height: 320px;
	line-height: 320px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}



.photo_list {
	clear: both;
	overflow: hidden;
	width: 680px;
	margin: 0 auto;
	margin-top: 40px;
}

.main_show_div {
  clear: both;
  overflow: hidden;
  width: 950px;
  height: 500px;
  padding: 30px;
  .main_photo_show {
    float:left;
    width: 730px;
    height: 500px;
    line-height: 500px;
    text-align: center;
    background: rgba(198,198,198,0.6);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); /* IE5.5-7 */
    img {
      clear: both;
      max-width: 720px;
      max-height: 490px;
      margin: 5px;
    }
  }
  .main_photo_list {
    float:left;
    width: 120px;
    height: 490px;
    overflow: auto;
    margin-left: 20px;
    background: rgba(198,198,198,0.6);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); /* IE5.5-7 */
    padding: 5px 10px;
    div {
      clear: both;
      width: 100px;
      height: 100px;
      overflow: hidden;
      text-align: center;
      line-height: 100px;
      margin-top: 15px;
      border: 2px solid #fff;
      img {
        clear: both;
      }
    }
  }
}

.main_photo_button {
  clear: both;
  overflow: hidden;
  width: 880px;
  margin: 0 auto;
  text-align: right;
  a, a:focus, a:hover, a:visited {
    padding: 10px 50px;
    margin-left: 20px;
    background: #f28505;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
}